[package]
name = "alevin-fry"
version = "0.1.0"
authors = ["Avi Srivastava <avi.srivastava@nyu.edu>", "Rob Patro <rob@cs.umd.edu>"]
edition = "2018"

[workspace]

[dependencies]	
libradicl = { path = "libradicl" }
slog = "2.5.2"
slog-term = "2.6.0"
slog-async = "2.5.0"
rand = "*"
chrono = "0.4.13"
mimalloc = { version = "0.1.19", default-features = false }
num_cpus = "1.13.0"
bio-types = "0.6.0"
statrs = "0.13.0"

[dependencies.clap]
version = "3.0.0-beta.1"
features = ["wrap_help"]

[profile.release]
debug = true
#lto="thin"
#codegen-units=1
opt-level=3
